.button {
  border: none;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  transition: var(--transition-duration);
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;

  &:hover {
    background-color: var(--color-marian-blue);
  }
}