.button {
  border: none;
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  transition: var(--transition-duration);
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;

  &:hover {
    background-color: var(--color-marian-blue);
  }

  &--big {
    padding: 1rem 2rem;
  }
}